* {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  background-color: white;
  padding: 10% 20%;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

button {
  width: 100px;
  height: 50px;
  font-size: 16px;
  background-color: #c4bebe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type='text'],
input[type='number'] {
  width: 200px;
  height: 50px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.score-list {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}

.left-top {
  margin-bottom: 15px;
}

.score-list ul {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.score-list ul li:nth-child(even) {
  background-color: goldenrod;
}

.left-side {
  width: 47%;
}

.left-side > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-side > div > h2 {
  width: 45%;
  margin: 1% 1%;
}

.left-side > div > button {
  width: 45%;
}

.right-side {
  width: 47%;
}

.right-side > div > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
}
